@charset "UTF-8";

#id_Con {
	position: relative;
	padding-right: 134px;
}

.check_overlap {
	padding-right: 134px;
}

.check_overlap_btn {
	width: 124px;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-left: 10px;
	padding: 0px;
	margin-top: 0px;
}

.member_info {
	display: block;
	font-size: 13px;
	color: #8a8a8d;
	font-weight: 700;
	margin-top: 19px;
	margin-bottom: 8px;
	padding-left: 3px;
}

#input_account {
	position: relative;
}

.disabled {
	background-color: #eeeeef !important;
	color: #bcbcbc !important;
}

/* #id_check {
	width: 124px;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-left: 10px;
	padding: 0px;
	margin-top: 0px;
} */



.button_unit {
	color: #fff;
	background-color: #0096ff;
}

.btn_del {
	display: none;
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -15px;
}

.util_tf {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	height: 48px;
	width: 48px;
}

.reset_btn {
	background-image: url("../image/login_icon.png");
	display: block;
	z-index: 10;
	background-position: -136px -3px;
	width: 30px;
	height: 30px;
	background-size: 213.33333px 160px;
}

.join_rule {
	list-style: none;
	padding: 0 10px;
	margin-top: 7px;
	font-size: 12px;
	color: #8a8a8d;
}

.join_rule li {
	padding-left: 7px;
}

.join_btn {
	position: static;
}

.warning {
	color: #f37e7b;
}