<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.nj.pa.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.nj.pa.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.nj.pa.comment.CommentDTO" alias="CommentDTO"/>
  	</typeAliases>
  </configuration>